USE [master]
GO
/****** Object:  Database [VentaProductos]    Script Date: 9/12/2022 12:00:10 a. m. ******/
CREATE DATABASE [VentaProductos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VentaProductos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VentaProductos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VentaProductos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VentaProductos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VentaProductos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VentaProductos]
GO
/****** Object:  Table [dbo].[IN04]    Script Date: 9/12/2022 12:00:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IN04](
	[CodigoProducto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Precio] [float] NULL,
	[SaldoInventario] [float] NULL,
	[FechaIngreso] [datetime] NULL,
	[UsuarioIngreso] [varchar](50) NULL,
	[IDFamilia] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[CodigoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IN05]    Script Date: 9/12/2022 12:00:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IN05](
	[IDFamilia] [int] IDENTITY(1,1) NOT NULL,
	[NombreFamilia] [varchar](50) NULL,
	[UsuarioIngreso] [varchar](50) NULL,
	[Estado] [int] NULL,
 CONSTRAINT [PK_FamiliaProducto] PRIMARY KEY CLUSTERED 
(
	[IDFamilia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IN04]  WITH CHECK ADD  CONSTRAINT [FK_FamiliaProducto] FOREIGN KEY([IDFamilia])
REFERENCES [dbo].[IN05] ([IDFamilia])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IN04] CHECK CONSTRAINT [FK_FamiliaProducto]
GO
USE [master]
GO
